body {
  background-color: #212121;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #f6f6f6;
}

.main {
  display: flex;
}

.wrapper {
  width: fit-content;
  background-color: #303030;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0px 12px 40px rgba(140, 140, 140, 0.15);
  white-space: nowrap;
}

.wrapperNumbers {
  width: fit-content;
  background-color: #303030;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0px 12px 40px rgba(140, 140, 140, 0.15);
  white-space: nowrap;
  margin-left: 10%;
}

.numbersBlock {
  width: 152px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.numbers {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #f6f6f6;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #ee683e;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  border: 1px solid #333;
  padding: 8px 16px;
  margin: 4px;
  box-shadow: 0px 12px 40px rgba(140, 140, 140, 0.15);
}

.reset {
  width: fit-content;
  height: 40px;
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #f6f6f6;
  background-color: #cd4e27;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  border: 1px solid #333;
  padding: 8px 16px;
  margin-top: 4px;
  box-shadow: 0px 12px 40px rgba(140, 140, 140, 0.15);
}
